:root {
  --sec-bg-color: #242428;
  --border-color: #43434a;
  --border-color-2: #2a2a2e;
  --basic-link-color: #2dd4bf;
  --tone-1: rgba(42, 42, 45, 0.75);
  --vp-header: 70px;
}

a {
  display: inline-block;
  padding: 0 3px;
  margin: 0 2px 0 -2px;
  color: var(--basic-link-color);
  text-decoration: none;

  border-radius: 8px;

  cursor: pointer;
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--vp-header);
}

a.active_lang {
  pointer-events: none;
  font-weight: 400;
  color: var(--text-color-contrast);
}

.header__lang-btn {
  padding: 5px 10px;
  height: 40px;
  min-width: 46px;
  font-size: 0.88rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header__lang-btn img {
  width: 18px;
  height: auto;
  margin-right: 5px;
}

.header__theme-btn {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  padding: 0;
}

.header__theme-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.header__theme-btn svg {
  display: block;
  font-size: 21px;
  width: auto;
  height: 21px;
  line-height: 21px;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  height: 44px;
  width: 56px;
  border: none;
  border: 1px solid var(--border-color-2);
  border: 0.9px solid var(--border-color-2);
  background-color: #1f1f23;
  border-radius: 12px;
}

.modal_l03 {
  background-color: var(--sec-bg-color);
  border-radius: 10px;
  border: 0.9px solid var(--border-color);
}
